boto3==1.9.42
click==7.0
toolz==0.9.0
dateparser==0.6.0 # pyup: != 0.7.0 # disable 0.7.0 since it has a bug I don't want: https://github.com/scrapinghub/dateparser/issues/383
pytz==2018.7
python-dateutil==2.7.5
ruamel.yaml==0.15.75