boto3>=1.4.7
click>=6.7
toolz>=0.8.2
dateparser==0.6.0 # pyup: != 0.7.0 # disable 0.7.0 since it has a bug I don't want: https://github.com/scrapinghub/dateparser/issues/383
pytz>=2017.3
python-dateutil<2.7.0
ruamel.yaml!=0.15.59 # pyup: != 0.15.59 # exclude since this has a strange print statement https://bitbucket.org/ruamel/yaml/commits/ed53aca288aadd5e846a7995064b6b1ec10a2948#Lconstructor.pyT421