name: trailscraper standard checks pipeline

on:
  push:
    branches:
      - master
      - move-to-uv
  pull_request: 
  schedule:
    - cron: '0 0 1 * *'

jobs:
  check-and-test:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", 3.11, 3.12, 3.13, 3.14 ]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        run: pip install uv
      - name: Install dependencies
        run: ./go setup
      - name: Check Code Style
        run: ./go check
      - name: Run Tests
        run: ./go test
      - name: Build artifacts
        run: ./go build-artifacts
      - name: Test artifacts can be installed and run correctly
        run: PYTHON_VERSION=${{ matrix.python-version }} ./go smoketest-artifacts
      - name: Build docker container
        run: PYTHON_VERSION=${{ matrix.python-version }} ./go build-docker
      - name: Test docker container runs correctly
        run: ./go smoketest-docker
  codeql-analyse:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          # We must fetch at least the immediate parents so that if this is
          # a pull request then we can checkout the head.
          fetch-depth: 2

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
      - name: Autobuild
        uses: github/codeql-action/autobuild@v4
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
